body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.chat-container {
    max-width: 800px;
    height: 1000px; /* 增加高度 */
    margin: 80px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.chat-messages {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1; /* 使消息区域随容器高度变化 */
}

.message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.message p {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    display: inline-block;
}

.message.user-message p {
    background-color: #cceeff;
    color: #007bff;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9; /* 增加背景颜色以区分输入区域 */
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input button {
    width: 80px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* 调整间距 */
    font-size: 1em; /* 调整字体大小 */
}
