body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.chat-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.chat-messages {
    padding: 20px;
    overflow-y: auto;
    height: 300px;
}

.message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
}

.message p {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    display: inline-block;
}

.message.user-message p {
    background-color: #cceeff;
    color: #007bff;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
}

.chat-input button {
    width: 60px;
    height: 22px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px; /* Adjust as needed */
}
